.background-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../assets/bgImages/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

@media screen and (max-width: 688px) {
    .background-banner {
        height: 100%;
    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .background-banner {
        height: 100vh;
    }
}